@use "../../../App.scss";

.card {
    width: 100%;
    margin-bottom: 3rem;
    transition: opacity 150ms ease;
    cursor: pointer;

    &.dimmed {
        opacity: 0.5;
    }

    h2 {
        font-size: 23px;
    }

    // positions the time frame correctly
    .card-content {
        display: flex;
        flex-direction: column;

        @media (min-width: App.$mobile-view-transition-threshold) {
            flex-direction: row;
        }
    }

    .card-details {
        @media (min-width: App.$mobile-view-transition-threshold) {
            width: 80%;
        }
    }
}
