@use "../../../App.scss"; // Adjusted path

// Styles for JobTitle component
.job-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-right: 0.5rem;
        color: var(--color-white);
        transition: color 150ms ease;

        &.hovered {
            color: var(--color-accent); // Teal color
        }
    }

    svg {
        transition: color 150ms ease;
        color: var(--color-lightest);

        &.hovered {
            color: var(--color-medium); // Teal color
        }
    }
}
