@use "../../../App.scss"; // Adjusted path

// Styles for TimeFrame component
.time-frame {
    margin-bottom: 1rem;
    margin-right: 3rem;

    @media (min-width: App.$mobile-view-transition-threshold) {
        width: 20%;
        margin-bottom: 0;
    }

    p {
        font-size: 1.125rem;
        color: var(--color-lightest); // Gray text
    }
}
