/* constants */
$mobile-view-transition-threshold: 1050px;
$layout-horizontal-padding: 50px;
$pane-vertical-padding: 100px;

$left-pane-width: 550px;
$left-pane-text-vertical-separation: 12px;

$right-pane-width: 700px;

$pane-gap: 40px;

/* Debug mode toggle: 0 for off, 1 for on */
$debug-mode: 1;

/* Debug outline colors */
$debug-outline-color-1: rgba(0, 149, 255, 0.5);
$debug-outline-color-2: rgba(0, 255, 34, 0.5);
$debug-outline-color-3: rgba(255, 0, 0, 0.5);

/* Apply debug outlines based on the variable value */
* {
    outline: $debug-mode * 1px solid $debug-outline-color-1;
}

* * {
    outline-color: $debug-outline-color-2;
}

* * * {
    outline-color: $debug-outline-color-3;
}

.layout {
    padding-left: $layout-horizontal-padding;
    padding-right: $layout-horizontal-padding;
}

.pane-container {
    max-width: calc($left-pane-width + $right-pane-width + $pane-gap);
    gap: $pane-gap;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.left-pane {
    width: $left-pane-width;
    padding-top: $pane-vertical-padding;
    padding-bottom: $pane-vertical-padding;
    text-align: left;
}

.left-pane h1 {
    color: var(--color-white)
}

.left-pane h2 {
    margin-top: $left-pane-text-vertical-separation;
    margin-bottom: $left-pane-text-vertical-separation;
    font-weight: normal;
}

.right-pane {
    width: $right-pane-width;
    padding-top: $pane-vertical-padding;
    padding-bottom: $pane-vertical-padding;
    text-align: left;
    /* right pane takes 100% of the view port height.
      Makes the right pane fixed to the viewport height, 
      regardless of how tall the whole page is.
     */
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

@media (max-width: $mobile-view-transition-threshold) {
    .pane-container {
        /* override margin auto -> 0 */
        margin-left: 0;
        margin-right: 0;
        /* left pane, right pane -> top pane, bottom pane*/
        flex-direction: column;
    }

    .left-pane,
    .right-pane {
        width: 100%;
    }

    .left-pane {
        margin: 0;
        padding: 50px 0;
    }

    .right-pane {
        height: auto;
        padding-top: 0;
    }
}
