:root {
    font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    // New color scheme
    --color-darkest: #222831;
    --color-dark: #393E46;
    --color-medium: #948979;
    --color-lightest: #DFD0B8;
    --color-white: #FFFFFF;
    --color-accent: #98ff98;

    color-scheme: light dark;
    // color: var(--color-lightest);
    background-color: var(--color-darkest);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    letter-spacing: -0.04em;
}

h1 {
    font-size: 50px !important;
}
