@use "../../../App.scss";

.back-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--color-lightest);
    cursor: pointer;
    padding: 0;
    margin-bottom: 1.5rem;
    transition: color 150ms ease;

    @media (hover: hover) {
        &:hover {
            color: var(--color-medium);
        }
    }

    span {
        margin-left: 0.25rem;
    }
}
